@import "~@fontsource/roboto";
@import "~@fontsource/dm-sans";
@import "~@fontsource/inter";
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "CircularStd-medium";
    src: url("/fonts/circular/CircularStd-Medium.ttf");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

label {
    font-family: "Roboto";
}
